---
title: "GSCL: Generative Self-Supervised Contrastive Learning for Vein-Based Biometric Verification"
collection: publications
permalink: /publication/2024-04-01-GSCL-Generative-Self-Supervised-Contrastive-Learning-for-Vein-Based-Biometric-Verification
excerpt: 
date: 2024-04-01
venue: IEEE Transactions on Biometrics, Behavior, and Identity Science
band: 
underreview:
publisherurl: https://ieeexplore.ieee.org/document/10428026
paperurl: 
arxiv: 
authors: Ou, Wei-Feng, Lai-Man Po, Xiu-Feng Huang, <b>Wing-Yin Yu</b>, and Yu-Zhi Zhao
banner: 
citation: 
code: 
---
